<header>
    <div id="logo">
        <img src="/assets/img/pumpernic-cuadrado.png" class="logo" alt="Logo pumpernic">
    </div>
    <nav>
        <ul>
            <li>
                <a href="/dashboard/index">Dashboard</a>
            </li>
            <li>
                <a href="/dashboard/get">Encontrar</a>
            </li>
            <li>
                <a href="/dashboard/post">Crear</a>
            </li>
            <li>
                <a href="/dashboard/put">Modificar</a>
            </li>
            <li>
                <a href="/dashboard/delete">Eliminar</a>
            </li>
        </ul>
    </nav>
</header>