/*=================
    CSS Bed
=================*/

body {margin: 5% auto; background: #f2f2f2; color: #444444; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.8; text-shadow: 0 1px 0 #ffffff; max-width: 73%;}
code {background: white;}
a {border-bottom: 1px solid #444444; color: #444444; text-decoration: none !important;}
a:hover {border-bottom: 0;}



header {
    display: flex;
    align-items: center;
    /* border: 1px solid; */
    margin-bottom: 3%;
}

h1 {
    text-align: center;  
}

#logo {
    width: 20%;
}

#logo img{
    width: 80px;
    border-radius: 5px;
}

nav {
    width: 80%;
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}


.card-producto {
    border: 3px solid transparent;
    width: 240px;
    height: 240px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 25px;
    justify-content: space-evenly;
}

.card-producto:hover {
    cursor: pointer;
    border: 3px solid #ec0c14;
}

.card-producto p, .card-producto h3 {
    margin-bottom: 0;
}

.img-producto {
    width: 95px;
}

#contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}