<%- include("partials/head.ejs") %>

<h1><%= about %></h1>

<div id="login-container">

    <form action="/login" class="formAltaProducto" method="POST" autocomplete="off" id="login-form">

        <label for="emailUser">Email</label>
        <input type="email" name="email" id="emailUser" value="johnny@melavo.com" required>

        <label for="passwordUser">Password</label>
        <input type="password" name="password" id="passwordUser" value="melavo" required>

        <input type="submit" value="Login" class="btn-envio">
    </form>
     
</div>

<%- include("partials/footer.ejs") %>